@import "variables";
@import "mixins";

.excel__header {
    position: absolute;
    top: 0;
    right: 0; 
    left: 0;
    display: flex;
    justify-content: space-between;
    height: $header-height;
    padding: 8px 4px 0;
    border-bottom: 1px solid $border-color;


    .input {
        min-width: 1px;
        height: 20px;
        margin: 0;
        padding: 2px 7px;
        border: 1px solid transparent;
        border-radius: 2px;
        outline: none;
        color: #000;
        font-size: 18px;
        line-height: 22px;

        &:hover {
            border-color: $border-color;
        }

        &:focus {
            border-color: #1a73e8;
            box-shadow: 0 0 0 1px #1a73e8;
        }
    }

    .button {
        @include button(red);
    }
}